
<div class="text-center">

  <div *ngIf="!(anon.usuario || goo.usuario)">
    <p>
      Logeate con tu cuenta preferida
    </p>
    <div>
        <input type="text" placeholder="email" [(ngModel)]="email"/><p>
        <input type="text" placeholder="password" [(ngModel)]="pass"/><p>
        <button (click)="login()" type="button" class="btn btn-outline-primary">Entrar</button>
    </div>

        <p>
            Logeate con google
          </p>
        <button (click)="login('google')" type="button" class="btn btn-outline-primary">
        Google
        </button>
  </div>
  <div *ngIf="goo.usuario || anon.usuario">
      <button (click)="logout()" type="button">Logout</button>
  </div>
    <button (click)="registro()" type="button">registrar</button>
</div>