<div>
      <div>        
            <ul>   
              <li (click)="viewRol(item)" *ngFor="let item of this.my_list">
                {{item.nombre}} id {{item.componentes.ids}}  
              </li>
            </ul>
            <button (click)="addRol()">Crear</button>
          <div *ngIf="show_form" >
            <input type="text" placeholder="nombre" [(ngModel)] = "role.nombre"><p>             
                <table>
                    <thead>
                        <tr>
                            <th>NODOS BD</th>
                            <th>LECTURA</th>
                            <th>ESCRITURA</th>
                        </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <span>CONVENIOS</span>
                        <td><input type="checkbox" [(ngModel)] = "role.permisos.convenios.lectura"></td>
                        <td><input type="checkbox" [(ngModel)] = "role.permisos.convenios.escritura"></td>
                      </tr>
                      <tr>
                          <span>ROLES</span>
                          <td><input type="checkbox" [(ngModel)] = "role.permisos.roles.lectura"></td>
                          <td><input type="checkbox" [(ngModel)] = "role.permisos.roles.escritura"></td>
                      </tr>
                      <tr>
                          <span>USUARIOS</span>
                          <td><input type="checkbox" [(ngModel)] = "role.permisos.usuarios.lectura"></td>
                          <td><input type="checkbox" [(ngModel)] = "role.permisos.usuarios.escritura"></td>
                      </tr>
                    </tbody>                   
                </table>

            <input type="text" placeholder="ids" [(ngModel)]="role.componentes.ids"/><p>  
                <button *ngIf="editing" (click)='removeRol()'>Eliminar</button>
                <button (click)='cancelRol()'>Cancelar</button>
                <button (click)='creaRol()'>Guardar</button>
          </div>
      </div>
      

    
  </div>