<div>
    <div>        
          <ul>   
            <li (click)="viewUser(item)" *ngFor="let item of this.my_list">
              {{item.email}}     CON ROL:  {{item.roles}}  
            </li>
          </ul>
          <button (click)="addUser()">Crear</button>
        <div *ngIf="show_form" >
          <input type="text" placeholder="nombre" [(ngModel)] = "user.displayname"><p>
          <input type="text" placeholder="direccion" [(ngModel)] = "user.direccion"><p>
          <input type="text" placeholder="email" [(ngModel)] = "user.email"><p>
          <input type="text" placeholder="empresa" [(ngModel)] = "user.empresa"><p>
              <select [(ngModel)] = "user.roles" name="seleccione rol">
                  <option *ngFor="let item of this.roles" [value]="item.$key">
                      {{item.nombre}}</option>                
              </select><p>
          <input type="text" placeholder="telefono" [(ngModel)] = "user.telefono"><p> 
           
              <button *ngIf="editing" (click)='removeUser()'>Eliminar</button>
              <button (click)='cancelUser()'>Cancelar</button>
              <button (click)='creaUser()'>Guardar</button>
        </div>
    </div>
    

  
</div>