<p>
  REGISTRO
</p>

<div>
    <input type="text" placeholder="direccion" [(ngModel)]="dataUser.direccion"/><p>
    <input type="text" placeholder="nombre" [(ngModel)]="dataUser.displayName"/><p>
    <input type="text" placeholder="email" [(ngModel)]="dataUser.email" [(ngModel)]="dataAuten.email"/><p>
    <input type="text" placeholder="pass" [(ngModel)]="dataAuten.password"/><p>
    <input type="text" placeholder="empresa" [(ngModel)]="dataUser.empresa"/><p>
    <input type="text" placeholder="telefono" [(ngModel)]="dataUser.telefono"/><p>
        <button (click)='insertaUser("anonimo")'>REGISTRAR</button>
</div>
<p>
<p>
<div>
    <p>CREA TU CUENTA CON GOOGLE</p>
    <button (click)='insertaUser("google")'>GOOGLE</button>
</div>

<p>
<p>
  <div>
      <button (click)='cancelar()'>CANCELAR</button>
  </div>
  


